@import '../variables'

a
  color lighten(mainColor, 20%)
  text-decoration none

  &:hover
    color mainColor

.button.button-primary
  background-color mainColor
  border 1px solid mainColor

  &:active
  &:visited
    background-color mainColor
    border 1px solid mainColor

  &:hover
    background-color lighten(mainColor, 10%)
    border 1px solid lighten(mainColor, 10%)



input[type="email"]:focus
input[type="number"]:focus
input[type="search"]:focus
input[type="text"]:focus
input[type="tel"]:focus
input[type="url"]:focus
input[type="password"]:focus
textarea:focus
select:focus
  border: 1px solid mainColor

  &.field-error
    border 1px solid dangerColor

input
textarea
select
  &.field-error
    border 1px solid dangerColor
