.emails-table
  td
    padding 0

  &-container
    min-height 465px


.pagination__item
  padding 10px
  cursor pointer
  opacity 0.8
  display inline-block
  
  &:nth-child(1)
    padding-left 0

  &.active
  &:hover
    opacity 1
